	<%= render(:partial => 'layouts/headermenu') %>


	<div class="jumbotron in-ban service">

		<!-- <img src="images/blog-banner.png"> -->

		<div class="container">

			<div class="ban-text">

				<div class="updates">Consulting, Staffing, Maintenance and Support</div>

				<h1>Ruby on Rails Services</h1>

			</div>

		</div>

	</div>

	<!-- Content -->

	<div id="content" class="service-wrap">

		<section class="breadcrumb-wrap">

			<div class="container">

				<div class="row">

					<nav aria-label="breadcrumb" class="brd">

						<ol class="breadcrumb">

							<li class="breadcrumb-item"><a href="#">Home</a>

							</li>

							<li class="breadcrumb-item active" aria-current="page">Service</li>

						</ol>

					</nav>

				</div>

			</div>

		</section>

		<!-- Section 1 -->

		<section class="row-am about-us-first-wrap first-sec">

			<div class="container">

				<div class="about-us-first">

					<div class="row">

						<div class="main-heading wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">

							<h1>Some title here</h1>

						</div>

						<div class="sub-heading">Lorem Ipsum is simply dummy text of the printing and typeset ting industry lorem Ipsum has been the industry standard Lorem Ipsum is simply dummy text of the printing.</div>

						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make a type specimen book It has survived not only five centuries but also the leap into electronic typesetting, remaining essentially unchanged It was popularised. in the with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make a type specimen book It has survived not only five centuries but also the leap into electronic typesetting, remaining essentially unchanged It was popularised. in the with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

					</div>

					<div class="about-two-part">

						<div class="row">

							<div class="col-sm-12 col-md-6 col-lg-6 about-two-inner-left">

								<div class="left both">

									<div class="about-left-img">

										<%= image_pack_tag "service1.png" %>

									</div>

									<div class="about-right-cont">

										<h4 class="about-title">Some title here</h4>

										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard. dummy text ever sinceLorem of the printing.</p>

									</div>

								</div>

							</div>

							<div class="col-sm-12 col-md-6 col-lg-6 about-two-inner-right">

								<div class="right both">

									<div class="about-left-img">

										<%= image_pack_tag "service2.png" %>

									</div>

									<div class="about-right-cont">

										<h4 class="title">Some title here</h4>

										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard. dummy text ever sinceLorem of the printing.</p>

									</div>

								</div>

							</div>

							<div class="col-sm-12 col-md-6 col-lg-6 about-two-inner-left">

								<div class="right both">

									<div class="about-left-img">

										<%= image_pack_tag "service3.png" %>

									</div>

									<div class="about-right-cont">

										<h4 class="title">Some title here</h4>

										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard. dummy text ever sinceLorem of the printing.</p>

									</div>

								</div>

							</div>

							<div class="col-sm-12 col-md-6 col-lg-6 about-two-inner-right">

								<div class="right both">

									<div class="about-left-img">

										<%= image_pack_tag "service4.png" %>

									</div>

									<div class="about-right-cont">

										<h4 class="title">Some title here</h4>

										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard. dummy text ever sinceLorem of the printing.</p>

									</div>

								</div>

							</div>

						</div>

					</div>

				</div>

			</div>

		</section>

		<section class="row-am  about-us-second service" id="about-us-second">

			<div class="container">

				<div class="row">

					<div class="col-sm-12 col-md-12 col-lg-6 all left">

						<%= image_pack_tag "service-left.png" %>

					</div>

					<div class="col-sm-12 col-md-12 col-lg-6 all right">

						<div class="main-heading wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">

							<h1>Some title here</h1>

						</div>

						<div class="sub-heading">Lorem Ipsum is simply dummy text of the printing and typeset ting industry.</div>

						<ul>

							<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown.</li>

							<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown.</li>

							<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown.</li>

							<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown.</li>

						</ul>

					</div>

				</div>

			</div>

		</section>

		<section class="row-am rail-house" id="rail-house">

			<div class="container-fluid">

				<div class="row">

					<!-- left sec -->

					<div class="col-sm-12 col-md-6 col-lg-6 rail-house-left">

						<div class="row">

							<div class="col-sm-12 col-md-2 col-lg-2 blank"></div>

							<div class="col-sm-12 col-md-10 col-lg-10 rail-house-title-wrap">

								<div class="main-heading-port wow fadeInDown animated animated" style="visibility: visible; animation-name: fadeInDown;">

									<h1><span>Why</span> Rails house ?</h1>

								</div>

								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley</p>

							</div>

						</div>

					</div>

					<!-- right sec -->

					<div class="col-sm-12 col-md-6 col-lg-6 rail-house-right">

						<div class="row">

							<div class="col-sm-12 col-md-10 col-lg-10 rail-house-customers">

								<div class="rail-customer-single left one">

									<!-- <div class="rail-wrap-img"><img src="images/rail1.png"></div> -->

									<div class="col-sm-12 col-md-12 col-lg-12 rail-wrap">

										<div class="rail-title">Worldwide Customers</div>

										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard.</p>

									</div>

								</div>

								<div class="rail-customer-single right two">

									<div class="col-sm-12 col-md-12 col-lg-12 rail-wrap">

										<div class="rail-title">Flexible Engagement</div>

										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard.</p>

									</div>

								</div>

								<div class="rail-customer-single left three">

									<div class="col-sm-12 col-md-12 col-lg-12 rail-wrap">

										<div class="rail-title">Responsive</div>

										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard.</p>

									</div>

								</div>

							</div>

							<div class="col-sm-12 col-md-2 col-lg-2 blank"></div>

						</div>

					</div>

				</div>

			</div>

			<!--container-->

		</section>

		<section class="row-am service-new">

			<div class="container">

				<div class="main-heading wow fadeInDown animated animated" style="visibility: visible; animation-name: fadeInDown;">

					<h1>Some title here</h1>

				</div>

				<div class="col-sm-12 col-md-12 col-lg-11 row ser-new-inner">

					<div class="col-sm-12 col-md-6 col-lg-6 service-single-wrap">

						<div class="service-single">

							<div class="ser-signle-inner">

								<div class="ser-title"><i class="icofont-earth"></i>Some Title Here</div>

								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the when an un printer took a galley of type and scrambled it to make a type specimen book It has survived not only five cenbut also the leap into electronic typesetting, remaining essentially unchanged It was popularised. in the with the release of Letraset sheets containing</p>

							</div>

						</div>

					</div>

					<!--single ser -->

					<div class="col-sm-12 col-md-6 col-lg-6 service-single-wrap">

						<div class="service-single">

							<div class="ser-signle-inner">

								<div class="ser-title"><i class="icofont-camera"></i>Some Title Here</div>

								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the when an un printer took a galley of type and scrambled it to make a type specimen book It has survived not only five cenbut also the leap into electronic typesetting, remaining essentially unchanged It was popularised. in the with the release of Letraset sheets containing</p>

							</div>

						</div>

					</div>

					<!--single ser -->

					<div class="col-sm-12 col-md-6 col-lg-6 service-single-wrap">

						<div class="service-single">

							<div class="ser-signle-inner">

								<div class="ser-title"><i class="icofont-brand-apple"></i>Some Title Here</div>

								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the when an un printer took a galley of type and scrambled it to make a type specimen book It has survived not only five cenbut also the leap into electronic typesetting, remaining essentially unchanged It was popularised. in the with the release of Letraset sheets containing</p>

							</div>

						</div>

					</div>

					<!--single ser -->

					<div class="col-sm-12 col-md-6 col-lg-6 service-single-wrap">

						<div class="service-single">

							<div class="ser-signle-inner">

								<div class="ser-title"><i class="icofont-gears"></i>Some Title Here</div>

								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the when an un printer took a galley of type and scrambled it to make a type specimen book It has survived not only five cenbut also the leap into electronic typesetting, remaining essentially unchanged It was popularised. in the with the release of Letraset sheets containing</p>

							</div>

						</div>

					</div>

					<!--single ser -->

				</div>

			</div>

		</section>



		<%= render(:partial => 'layouts/sec7clientlogos') %>



		<%= render(:partial => 'layouts/sec8interestedblock') %>

	</div>

	<!-- Footer -->

	<%= render(:partial => 'layouts/footerjsblock') %>