<%= render(:partial => 'layouts/headermenu') %>

	<div class="jumbotron in-ban">

		<!-- <img src="images/blog-banner.png"> -->

		<div class="container">

			<div class="ban-text">

				<div class="updates">Articles</div>

				<h1>Latest Article Posts</h1>

			</div>

		</div>

	</div>

	<!-- Content -->

	<div id="content">

		<section class="breadcrumb-wrap gray-bg">

			<div class="container">

				<div class="row">

					<nav aria-label="breadcrumb" class="brd">

						<ol class="breadcrumb">

							<li class="breadcrumb-item"><a href="#">Home</a>

							</li>

							<li class="breadcrumb-item active" aria-current="page">Articles</li>

						</ol>

					</nav>

				</div>

			</div>

		</section>

		<!-- Section 1 -->

		<section class="row blog2" id="blog-inner">

			<div class="container">

				<div class="row">

					<div class="col-md-12 col-sm-12 col-lg-8">

						<div class="row">

							<!-- 1 -->

							<div class=" col-md-6 col-sm-12 col-lg-6 blog-single">

								<div class="blog-single-inner">

									<div class="blog-img">

										<%= image_pack_tag "blog1.png", :alt => "Article 1" %>

									</div>

									<div class="blog-cont-wrapper">

										<div class="date">15

											<br><span class="month font-uppercase">may</span>

										</div>

										<div class="blog-name"><a href="blog-detail.html">Lorem Ipsum is simply dummy text of the printing and typesetting.</a>

										</div>

										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem psum has been the industry's standard dummy text ever since simply dummy text of the printing and typesetting industry Lor.</p>

										<div class="blog-btn">

											<a href="#">

												<%= image_pack_tag "red-right.png", :alt => "Railshouse Ruby on Rails" %>

											</a>

										</div>

									</div>

								</div>

							</div>

							<!-- 2 -->

							<div class=" col-md-6 col-sm-12 col-lg-6 blog-single">

								<div class="blog-single-inner">

									<div class="blog-img">

										<%= image_pack_tag "blog2.png", :alt => "Railshouse Ruby on Rails 2" %>

									</div>

									<div class="blog-cont-wrapper">

										<div class="date">15

											<br><span class="month font-uppercase">may</span>

										</div>

										<div class="blog-name"><a href="blog-detail.html">Lorem Ipsum is simply dummy text of the printing and typesetting.</a>

										</div>

										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem psum has been the industry's standard dummy text ever since simply dummy text of the printing and typesetting industry Lor.</p>

										<div class="blog-btn">

											<a href="#">

												<%= image_pack_tag "red-right.png", :alt => "Red Right" %>

											</a>

										</div>

									</div>

								</div>

							</div>

							<!-- 3 -->

							<div class=" col-md-6 col-sm-12 col-lg-6 blog-single">

								<div class="blog-single-inner">

									<div class="blog-img">

										<%= image_pack_tag "blog3.png", :alt => "Railshouse Ruby on Rails Articles" %>

									</div>

									<div class="blog-cont-wrapper">

										<div class="date">15

											<br><span class="month font-uppercase">may</span>

										</div>

										<div class="blog-name"><a href="blog-detail.html">Lorem Ipsum is simply dummy text of the printing and typesetting.</a>

										</div>

										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem psum has been the industry's standard dummy text ever since simply dummy text of the printing and typesetting industry Lor.</p>

										<div class="blog-btn">

											<a href="#">

												<%= image_pack_tag "red-right.png", :alt => "Red Right" %>

											</a>

										</div>

									</div>

								</div>

							</div>

							<!-- 4 -->

							<div class=" col-md-6 col-sm-12 col-lg-6 blog-single">

								<div class="blog-single-inner">

									<div class="blog-img">

										<%= image_pack_tag "blog4.png", :alt => "Ruby on Rails Articles" %>

									</div>

									<div class="blog-cont-wrapper">

										<div class="date">15

											<br><span class="month font-uppercase">may</span>

										</div>

										<div class="blog-name"><a href="blog-detail.html">Lorem Ipsum is simply dummy text of the printing and typesetting.</a>

										</div>

										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem psum has been the industry's standard dummy text ever since simply dummy text of the printing and typesetting industry Lor.</p>

										<div class="blog-btn">

											<a href="#">

												<%= image_pack_tag "red-right.png", :alt => "Red Right" %>

											</a>

										</div>

									</div>

								</div>

							</div>

							<!-- 3 end -->

							<!-- 1 -->

							<div class=" col-md-6 col-sm-12 col-lg-6 blog-single">

								<div class="blog-single-inner">

									<div class="blog-img">

										<%= image_pack_tag "blog1.png", :alt => "Ruby on Rails Articles" %>

									</div>

									<div class="blog-cont-wrapper">

										<div class="date">15

											<br><span class="month font-uppercase">may</span>

										</div>

										<div class="blog-name"><a href="blog-detail.html">Lorem Ipsum is simply dummy text of the printing and typesetting.</a>

										</div>

										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem psum has been the industry's standard dummy text ever since simply dummy text of the printing and typesetting industry Lor.</p>

										<div class="blog-btn">

											<a href="#">

												<%= image_pack_tag "red-right.png", :alt => "Red Right" %>

											</a>

										</div>

									</div>

								</div>

							</div>

							<!-- 2 -->

							<div class=" col-md-6 col-sm-12 col-lg-6 blog-single">

								<div class="blog-single-inner">

									<div class="blog-img">

										<%= image_pack_tag "blog2.png" %>

									</div>

									<div class="blog-cont-wrapper">

										<div class="date">15

											<br><span class="month font-uppercase">may</span>

										</div>

										<div class="blog-name"><a href="blog-detail.html">Lorem Ipsum is simply dummy text of the printing and typesetting.</a>

										</div>

										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem psum has been the industry's standard dummy text ever since simply dummy text of the printing and typesetting industry Lor.</p>

										<div class="blog-btn">

											<a href="#">

												<%= image_pack_tag "red-right.png", :alt => "Red Right" %>

											</a>

										</div>

									</div>

								</div>

							</div>

							<!-- 3 -->

							<div class=" col-md-6 col-sm-12 col-lg-6 blog-single">

								<div class="blog-single-inner">

									<div class="blog-img">

										<%= image_pack_tag "blog3.png" %>

									</div>

									<div class="blog-cont-wrapper">

										<div class="date">15

											<br><span class="month font-uppercase">may</span>

										</div>

										<div class="blog-name"><a href="blog-detail.html">Lorem Ipsum is simply dummy text of the printing and typesetting.</a>

										</div>

										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem psum has been the industry's standard dummy text ever since simply dummy text of the printing and typesetting industry Lor.</p>

										<div class="blog-btn">

											<a href="#">

												<%= image_pack_tag "red-right.png", :alt => "Red Right" %>

											</a>

										</div>

									</div>

								</div>

							</div>

							<!-- 4 -->

							<div class=" col-md-6 col-sm-12 col-lg-6 blog-single">

								<div class="blog-single-inner">

									<div class="blog-img">

										<%= image_pack_tag "blog4.png" %>

									</div>

									<div class="blog-cont-wrapper">

										<div class="date">15

											<br><span class="month font-uppercase">may</span>

										</div>

										<div class="blog-name"><a href="blog-detail.html">Lorem Ipsum is simply dummy text of the printing and typesetting.</a>

										</div>

										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem psum has been the industry's standard dummy text ever since simply dummy text of the printing and typesetting industry Lor.</p>

										<div class="blog-btn">

											<a href="#">

												<%= image_pack_tag "red-right.png", :alt => "Red Right" %>

											</a>

										</div>

									</div>

								</div>

							</div>

							<!-- 3 end -->

							<!-- 1 -->

							<div class=" col-md-6 col-sm-12 col-lg-6 blog-single">

								<div class="blog-single-inner">

									<div class="blog-img">

										<%= image_pack_tag "blog1.png" %>

									</div>

									<div class="blog-cont-wrapper">

										<div class="date">15

											<br><span class="month font-uppercase">may</span>

										</div>

										<div class="blog-name"><a href="blog-detail.html">Lorem Ipsum is simply dummy text of the printing and typesetting.</a>

										</div>

										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem psum has been the industry's standard dummy text ever since simply dummy text of the printing and typesetting industry Lor.</p>

										<div class="blog-btn">

											<a href="#">

												<%= image_pack_tag "red-right.png", :alt => "Red Right" %>

											</a>

										</div>

									</div>

								</div>

							</div>

							<!-- 2 -->

							<div class=" col-md-6 col-sm-12 col-lg-6 blog-single">

								<div class="blog-single-inner">

									<div class="blog-img">

										<%= image_pack_tag "blog2.png" %>

									</div>

									<div class="blog-cont-wrapper">

										<div class="date">15

											<br><span class="month font-uppercase">may</span>

										</div>

										<div class="blog-name"><a href="blog-detail.html">Lorem Ipsum is simply dummy text of the printing and typesetting.</a>

										</div>

										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem psum has been the industry's standard dummy text ever since simply dummy text of the printing and typesetting industry Lor.</p>

										<div class="blog-btn">

											<a href="#">

												<%= image_pack_tag "red-right.png", :alt => "Red Right" %>

											</a>

										</div>

									</div>

								</div>

							</div>

							<!-- 3 -->

							<div class=" col-md-6 col-sm-12 col-lg-6 blog-single">

								<div class="blog-single-inner">

									<div class="blog-img">

										<%= image_pack_tag "blog3.png" %>

									</div>

									<div class="blog-cont-wrapper">

										<div class="date">15

											<br><span class="month font-uppercase">may</span>

										</div>

										<div class="blog-name"><a href="blog-detail.html">Lorem Ipsum is simply dummy text of the printing and typesetting.</a>

										</div>

										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem psum has been the industry's standard dummy text ever since simply dummy text of the printing and typesetting industry Lor.</p>

										<div class="blog-btn">

											<a href="#">

												<%= image_pack_tag "red-right.png", :alt => "Red Right" %>

											</a>

										</div>

									</div>

								</div>

							</div>

							<!-- 4 -->

							<div class=" col-md-6 col-sm-12 col-lg-6 blog-single">

								<div class="blog-single-inner">

									<div class="blog-img">

										<%= image_pack_tag "blog4.png" %>

									</div>

									<div class="blog-cont-wrapper">

										<div class="date">15

											<br><span class="month font-uppercase">may</span>

										</div>

										<div class="blog-name"><a href="blog-detail.html">Lorem Ipsum is simply dummy text of the printing and typesetting.</a>

										</div>

										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem psum has been the industry's standard dummy text ever since simply dummy text of the printing and typesetting industry Lor.</p>

										<div class="blog-btn">

											<a href="#">

												<%= image_pack_tag "red-right.png", :alt => "Red Right" %>

											</a>

										</div>

									</div>

								</div>

							</div>

							<!-- 3 end -->

						</div>

						<!--row end-->

						<div class="box c-center">

							<ul class="pagination paginationD">

								<li><a href="#" class="previous">Prev</a>

								</li>

								<li><a href="#">1</a>

								</li>

								<li><a href="#">2</a>

								</li>

								<li><a href="#" class="active">3</a>

								</li>

								<li><a href="#">4</a>

								</li>

								<li><a href="#">5</a>

								</li>

								<li><a href="#" class="next">Next</a>

								</li>

							</ul>

						</div>

					</div>

					<div class=" col-md-12 col-sm-12 col-lg-4">

						<div class="side-bar">

							<div class="email-form-wrap">

								<div class="email-form-inner">

									<div class="email-form-icon">

										<%= image_pack_tag "mail-icon.png" %>

									</div>

									<div class="subscrb c-center">Subscribe

										<br>to Our Newsletter</div>

									<form action="#" method="post">

										<div class="search">

											<input type="text" class="form-control" placeholder="Enter Your Email ID"><a class="btn search-btn hvr-rectangle-in" href="#" ">Submit now</a>



		                	</div>

		             	</form>

	            	 </div>

	         		</div>

	             	

	             	<div class="category ">

	                    <h3>Categories</h3>

	                    <ul>

	                    	<li><a href="# ">Articles on Management</a></li>

	                    	<li><a href="# ">hybrid app</a></li>

	                    	<li><a href="# ">Industry Insights</a></li>

	                    	<li><a href="# ">jobs</a></li>

	                    	<li><a href="# ">mobile app</a></li>

	                    	<li><a href="# ">mobile application development</a></li>

	                    	<li><a href="# ">mobile marketing</a></li>

	                    	<li><a href="# ">native app</a></li>

	                    	<li><a href="# ">News</a></li>

	                    	<li><a href="# ">Rails 3</a></li>

	                    	<li><a href="# ">ROR</a></li>

	                    	<li><a href="# ">Technical Articles</a></li>

	                    	<li><a href="# ">Uncategorized</a></li>

	                    	<li><a href="# ">web app</a></li>

	                    </ul>

	             	</div>

	            

	            <div class="category ">

	                    <h3>Archives</h3>

	                    <ul>



	                    	<li><a href="# ">February 2019</a></li>

	                    	<li><a href="# ">January 2019</a></li>

	                    	<li><a href="# ">November 2018</a></li>

	                    	<li><a href="# ">September 2018</a></li>

	                    	<li><a href="# ">August 2018</a></li>

	                    	<li><a href="# ">July 2018</a></li>

	                    	<li><a href="# ">May 2018</a></li>

	                    	<li><a href="# ">April 2018</a></li>

	                    	<li><a href="# ">March 2018</a></li>

	                    	<li><a href="# ">February 2018</a></li>



	                    </ul>

	             	</div>

	             	  <div class="category-bann ">

	             	  <div class="cat-banner "><a href="# ">

	             	  	 <%= image_pack_tag "cat-banner.png" %></a>

	             	  	</div>

	                   

	             	</div>
	             	

				</div>

			</div>

		</div>

		</div>

  	  </section>
	<%= render(:partial => 'layouts/sec8interestedblock') %>

	</div>


	<%= render(:partial => 'layouts/footerjsblock') %>