	<%= render(:partial => 'layouts/headermenu') %>

	<!-- Carousel start -->

    <%= render(:partial => 'layouts/slidercarousel') %>
    <!-- Carousel end -->

	<!-- Content -->

	<div id="content">

		<!-- Section 1 -->
   		 <%= render(:partial => 'layouts/sec1devexperts') %>


		<!-- Section 2 -->

		<%= render(:partial => 'layouts/sec2servicehome') %>

		<!-- Section 3 -->

		<%= render(:partial => 'layouts/sec3whyrailshouse') %>

		<!-- Section 4 -->

		<%= render(:partial => 'layouts/sec4testimonial') %>

		<!-- Section 5 -->

		<%= render(:partial => 'layouts/sec5portfolio') %>

		<!-- Section 6 -->

		<%= render(:partial => 'layouts/sec6blog') %>

		<!-- Section 7 -->

		<%= render(:partial => 'layouts/sec7clientlogos') %>

		<!-- Section 8 -->

		<%= render(:partial => 'layouts/sec8interestedblock') %>

	</div>

    <!-- Content END -->

	<%= render(:partial => 'layouts/footerjsblock') %>