<%= render(:partial => 'layouts/headermenu') %>



	<div class="jumbotron in-ban portfolio">

		<div class="container">

			<div class="ban-text">

				<div class="updates">Take a look at our cool Projects</div>

				<h1>Railshouse Portfolio</h1>

			</div>

		</div>

	</div>

	<!-- Content -->

	<div id="content" class="about-us-wrap gray-bg">

		<section class="breadcrumb-wrap ">

			<div class="container">

				<div class="row">

					<nav aria-label="breadcrumb" class="brd">

						<ol class="breadcrumb">

							<li class="breadcrumb-item"><a href="#">Home</a>

							</li>

							<li class="breadcrumb-item active" aria-current="page">Portfolio</li>

						</ol>

					</nav>

				</div>

			</div>

		</section>

		<!-- Section 1 -->

		<section class="row-am first-sec category-sec">

			<div class="container">

				<div class="row">

					<div class="col-sm-12 col-md-6 col-lg-6 left">

						<div class="category-btn">

							<div class="tech custom-select" style="width:240px;">

								<select>

									<option value="0">Technology</option>

									<option value="1">Technology 1</option>

									<option value="2">Technology 2</option>

									<option value="3">Technology 3</option>

									<option value="4">Technology 4</option>

									<option value="5">Technology 5</option>

									<option value="6">Technology 6</option>

									<option value="7">Technology 7</option>

									<option value="8">Technology 8</option>

									<option value="9">Technology 9</option>

								</select>

							</div>

						</div>

					</div>

					<div class=" col-sm-12 col-md-6 col-lg-6 right">

						<div class="category-btn">

							<div class="active custom-select" style="width:240px;">

								<select>

									<option value="0">Industry</option>

									<option value="1">Industry 1</option>

									<option value="2">Industry 2</option>

									<option value="3">Industry 3</option>

									<option value="4">Industry 4</option>

									<option value="5">Industry 5</option>

									<option value="6">Industry 6</option>

									<option value="7">Industry 7</option>

									<option value="8">Industry 8</option>

									<option value="9">Industry 9</option>

								</select>

							</div>

						</div>

					</div>

				</div>

			</div>

		</section>

		<section class="row-am portfolio-wrap" id="portfolio-wrap">

			<div class="container-fluid">

				<!-- row single pro start -->

				<div class="port1 row left-side">

					<div class="col-md-12 col-lg-6 col-sm-12 left p-0 white-bg float-right port-image">

						<div class="port-images">

							<%= image_pack_tag "port1.png",  :alt => "Ruby on Rails Portfolio 1" %>

						</div>

					</div>

					<div class="col-md-12 col-lg-6 col-sm-12  right p-0 port-cont-wrap">

						<div class="col-md-12 col-lg-7 col-sm-12 port-cont white-bg float-left">

							<div class="number">

								<div class="number-inner">01</div>

							</div>

							<div class="port-title"><a href="portfolio-detail.html">Project Name Here</a></div>

							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummyLorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type</p>

							<div class="tech-title">Technologies</div>

							<div class="tech-list">

								<ul>

									<li>

										<%= image_pack_tag "tech1.png", :alt => "HTML 5" %>

									</li>

									<li>

										<%= image_pack_tag "tech2.png", :alt => "Bootstrap" %>

									</li>

									<li>

										<%= image_pack_tag "tech3.png", :alt => "Ajax" %>

									</li>

									<li>

										<%= image_pack_tag "tech4.png", :alt => "CSS 3" %>

									</li>

								</ul>

							</div>	<a href="#" class="red-btn hvr-radial-in read-more">Read More</a>

						</div>

					</div>

				</div>

				<!-- row single pro end -->

				<div class="port1 row right-side">

					<div class="col-md-12 col-lg-6 col-sm-12 left p-0 port-cont-wrap">

						<div class="col-md-12 col-lg-7 col-sm-12 port-cont white-bg float-right">

							<div class="number">

								<div class="number-inner">02</div>

							</div>

							<div class="port-title"><a href="portfolio-detail.html">Project Name Here</a></div>

							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummyLorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type</p>

							<div class="tech-title">Technologies</div>

							<div class="tech-list">

								<ul>

									<li>

										<%= image_pack_tag "tech1.png", :alt => "HTML 5" %>

									</li>

									<li>

										<%= image_pack_tag "tech2.png", :alt => "Bootstrap" %>

									</li>

									<li>

										<%= image_pack_tag "tech3.png", :alt => "Ajax" %>

									</li>

									<li>

										<%= image_pack_tag "tech4.png", :alt => "CSS 3" %>

									</li>

								</ul>

							</div>	<a href="#" class="red-btn hvr-radial-in read-more">Read More</a>

						</div>

					</div>

					<div class="col-md-12 col-lg-6 col-sm-12 right p-0 white-bg float-left port-image">

						<div class="port-images">

							<%= image_pack_tag "port2.png", :alt => "Ruby on Rails Portfolio 2" %>

						</div>

					</div>

				</div>

				<!-- row single pro start -->

				<!-- row single pro start -->

				<div class="port1 row left-side">

					<div class="col-md-12 col-lg-6 col-sm-12 left p-0 white-bg float-right port-image">

						<div class="port-images">

							<%= image_pack_tag "port1.png", :alt => "Ruby on Rails Portfolio 3" %>

						</div>

					</div>

					<div class="col-md-12 col-lg-6 col-sm-12  right p-0 port-cont-wrap">

						<div class="col-md-12 col-lg-7 col-sm-12 port-cont white-bg float-left">

							<div class="number">

								<div class="number-inner">03</div>

							</div>

							<div class="port-title"><a href="portfolio-detail.html">Project Name Here</a></div>

							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummyLorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type</p>

							<div class="tech-title">Technologies</div>

							<div class="tech-list">

								<ul>

									<li>

										<%= image_pack_tag "tech1.png", :alt => "HTML 5" %>

									</li>

									<li>

										<%= image_pack_tag "tech2.png", :alt => "Bootstrap" %>

									</li>

									<li>

										<%= image_pack_tag "tech3.png", :alt => "Ajax" %>

									</li>

									<li>

										<%= image_pack_tag "tech4.png", :alt => "CSS 3" %>

									</li>

								</ul>

							</div>	<a href="#" class="red-btn hvr-radial-in read-more">Read More</a>

						</div>

					</div>

				</div>

				<!-- row single pro end -->

			</div>

		</section>

        <%= render(:partial => 'layouts/sec8interestedblock') %>

	</div>

<%= render(:partial => 'layouts/footerjsblock') %>

<%= render(:partial => 'layouts/jsfooterportfolio') %>