	<%= render(:partial => 'layouts/headermenu') %>

    <div class="jumbotron in-ban about">

		<!-- <img src="images/blog-banner.png"> -->

		<div class="container">

			<div class="ban-text">

				<div class="updates">What we are</div>

				<h1>About Us</h1>

			</div>

		</div>

	</div>

    	<div id="content" class="about-us-wrap">

		<section class="breadcrumb-wrap">

			<div class="container">

				<div class="row">

					<nav aria-label="breadcrumb" class="brd">

						<ol class="breadcrumb">

							<li class="breadcrumb-item"><a href="#">Home</a>

							</li>

							<li class="breadcrumb-item active" aria-current="page">about us</li>

						</ol>

					</nav>

				</div>

			</div>

		</section>

		<!-- Section 1 -->

		<section class="row-am about-us-first-wrap first-sec">

			<div class="container">

				<div class="about-us-first">

					<div class="row">

						<div class="main-heading wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">

							<h1>About RailsHouse</h1>

						</div>

						<div class="sub-heading">We started our journey in 2009 with focus on providing Ruby on Rails services</div>

						<p>RailsHouse is a full-service Ruby on Rails consulting division of Cogdina Inc, a Waterloo, Ontario based IT Services company. Our team of Ruby on Rails experts can help you to take your idea to reality. We offer Ruby on Rails consulting services in UI Design, Front End Engineering, Server Setup, Product Development, Code Audit, Ongoing Retainer Support with Full Time/Part Time Rails developer, 24x7 Infrastructure Monitoring Retainer as well as Advisory and General consulting services in Ruby on Rails</p>

					</div>

					<div class="about-two-part">

						<div class="row">

							<div class="col-sm-12 col-md-12 col-lg-6 about-two-inner-left">

								<div class="left both">

									<div class="about-left-img">

										<%= image_pack_tag "eye.png", :alt => "Eye image for Railshouse" %>

									</div>

									<div class="about-right-cont">

										<h4 class="about-title">Our Vision</h4>

										<p>Our vision is to make each of our employee think like an entrepreneur and technologist earning respect of customers and Rails community.</p>

									</div>

								</div>

							</div>

							<div class="col-sm-12 col-md-12 col-lg-6 about-two-inner-right">

								<div class="right both">

									<div class="about-left-img">

										<%= image_pack_tag  "dat.png", :alt => "Dart Ruby on Rails Image" %>

									</div>

									<div class="about-right-cont">

										<h4 class="about-title">Our mission</h4>

										<p>To help businesses with top class Ruby on Rails solutions and services every single day</p>

									</div>

								</div>

							</div>

						</div>

					</div>

				</div>

			</div>

		</section>

		<section class="row-am  about-us-second" id="about-us-second">

			<div class="container">

				<div class="row">

					<div class="col-sm-12 col-md-12 col-lg-6 all left">

						<%= image_pack_tag "about-left.png", :alt => "About left arrow Ruby on Rails" %>

					</div>

					<div class="col-sm-12 col-md-12 col-lg-6 all right">

						<div class="main-heading wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">

							<h1>Our core focus</h1>

						</div>

						<div class="sub-heading">With a wide array of services, from web design to SEO, we make sure that all your web related needs are satisfied.
							Our services include:</div>

						<p><ul> 


							<li>Ruby on Rails Development</li>
							
							
							<li>Develop AJAX using RJS, REST, Web Services and Integrations</li> 
							
							
							<li>Using & Developing Plugins and Gems</li>
							
							
							<li>Web 2.0, RSS, Atom, Mashups</li>
							
							
							<li>Windows, Linux, Solaris OS,My SQL, Postgres Databases</li>
							
							
							<li>HTML, DHTML, JavaScript, CSS,Scripatculous, Prototype libraries</li>
							
							
							<li>Apache, Nginx, Lighttpd, IIS,Litespeed, Mongrel Web Servers</li>
							
							
							<li>Node.js, React, Vue, Gatsby</li>
							
							
							<li>RSpec, TDD, BDD</li>
							
							
						</ul></p>

					</div>

				</div>

			</div>

		</section>

        <%= render(:partial => 'layouts/sec3whyrailshouse') %>

		<section class="row-am  about-us-forth" id="about-us-forth">

			<div class="container">

				<div class="row">

					<div class="col-sm-12 col-md-12 col-lg-6 all right">

						<div class="main-heading wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">

							<h1>Some title here</h1>

						</div>

						<div class="sub-heading">Lorem Ipsum is simply dummy text of the printing and typeset ting industry.</div>

						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make a type specimen book It has survived not only five centuries but also the leap into electronic typesetting, remaining essentially unchanged It was popularised. in the with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make a type specimen book It has survived not only five centuries but also the leap into electronic typesetting, remaining essentially unchanged It was popularised. in the with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

					</div>

					<div class="col-sm-12 col-md-12 col-lg-6 all left about-tabing">

						<div class="row">

							<div class="col-md-12">

								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

									<div class="panel panel-default">

										<div class="panel-heading" role="tab" id="headingOne">

											<h4 class="panel-title">

								        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

								          Lorem Ipsum is simply dummy text of the printing and typeset ting industry.

								        </a>

								      </h4>

										</div>

										<div id="collapseOne" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingOne">

											<div class="panel-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make a type.</div>

										</div>

									</div>

									<div class="panel panel-default">

										<div class="panel-heading" role="tab" id="headingTwo">

											<h4 class="panel-title">

								        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">

								          Printing and typeset ting industry Lorem Ipsum is simply..

								        </a>

								      </h4>

										</div>

										<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">

											<div class="panel-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make a type.</div>

										</div>

									</div>

									<div class="panel panel-default">

										<div class="panel-heading" role="tab" id="headingThree">

											<h4 class="panel-title">

								        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">

								         Dummy text of the printing and Lorem Ipsum is simply.

								        </a>

								      </h4>

										</div>

										<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">

											<div class="panel-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make a type.</div>

										</div>

									</div>

									<div class="panel panel-default">

										<div class="panel-heading" role="tab" id="headingThree">

											<h4 class="panel-title">

								        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapsefour">

								         Dummy text of the printing and Lorem Ipsum is simply.

								        </a>

								      </h4>

										</div>

										<div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour">

											<div class="panel-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make a type.</div>

										</div>

									</div>

									<div class="panel panel-default">

										<div class="panel-heading" role="tab" id="headingfive">

											<h4 class="panel-title">

								        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefive" aria-expanded="false" aria-controls="collapsefive">

								         Dummy text of the printing and Lorem Ipsum is simply.

								        </a>

								      </h4>

										</div>

										<div id="collapsefive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfive">

											<div class="panel-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make a type.</div>

										</div>

									</div>

								</div>

							</div>

						</div>

					</div>

					<!--tab end-->

				</div>

			</div>

		</section>

    <%= render(:partial => 'layouts/sec4testimonial') %>

    <%= render(:partial => 'layouts/sec8interestedblock') %>

	<%= render(:partial => 'layouts/footerjsblock') %>