	<%= render(:partial => 'layouts/headermenu') %>

	<div class="jumbotron in-ban team">

		<!-- <img src="images/blog-banner.png"> -->

		<div class="container">

			<div class="ban-text">

				<div class="updates">Know our strategists</div>

				<h1>OUR LEADERSHIP TEAM</h1>

				<!-- 	<nav aria-label="breadcrumb" class="brd">

					<ol class="breadcrumb">

						<li class="breadcrumb-item"><a href="#">Home</a>

						</li>

						<li class="breadcrumb-item active" aria-current="page">camera</li>

					</ol>

				</nav> -->

			</div>

		</div>

	</div>

	<!-- Content -->

	<div id="content">

		<section class="breadcrumb-wrap gray-bg">

			<div class="container">

				<div class="row">

					<nav aria-label="breadcrumb" class="brd">

						<ol class="breadcrumb">

							<li class="breadcrumb-item"><a href="#">Home</a>

							</li>

							<li class="breadcrumb-item active" aria-current="page">Our Team</li>

						</ol>

					</nav>

				</div>

			</div>

		</section>

		<!-- Section 1 -->

		<section class="row1 " id="team">

			<div class="container">

				<div class="row">

					<div class="col-md-12 col-sm-12 col-lg-12 team-single-wrap">

						<div class="team-single left">

							<div class="team-image">

								<a href="#">

									<%= image_pack_tag "t1.jpg", :class => "w-100", :alt => "Roshan Shah" %>

								</a>

							</div>

							<div class="name">

								<div class="heading">

									<h2 class="title">Roshan P Shah</h2>

									<h4 class="sub_title">Founder and Chief Architect</h4>

								</div>

								<div class="team-social">

									<ul>

										<li><a href="https://www.linkedin.com/in/roshan"><i class="icofont-linkedin"></i></a>

										</li>

										<li><a href="https://twitter.com/roshanshah"><i class="icofont-twitter"></i></a>

										</li>

										<li><a href="https://facebook.com/roshanshah.official"><i class="icofont-facebook"></i></a>

										</li>

									</ul>

								</div>

								<div class="person-dtl">

									<p>Roshan Shah is Founder and Chief Architect of Railshouse. He has 23 years experience in Software Development and is based out of Waterloo, ON. Roshan is a certified project manager and holds Bachelors in Computer Engineering.</p>

								</div>

							</div>

						</div>

					</div>

					<!--single team end-->

					<div class="col-md-12 col-sm-12 col-lg-12 team-single-wrap">

						<div class="team-single right">

							<div class="team-image">

								<a href="#">

									<%= image_pack_tag "t2.jpg", :class =>"w-100", :alt => "Gagan Gami" %>

								</a>

							</div>

							<div class="name">

								<div class="heading">

									<h2 class="title">Gagan Gami</h2>

									<h4 class="sub_title">Co-Founder and Sr. Ruby on Rails Developer</h4>

								</div>

								<div class="team-social">

									<ul>

										<li><a href="https://www.linkedin.com/in/gagan2/"><i class="icofont-linkedin"></i></a>

										</li>

										<li><a href="https://twitter.com/GaganGami"><i class="icofont-twitter"></i></a>

										</li>

										<li><a href="https://www.facebook.com/ggami"><i class="icofont-facebook"></i></a>

										</li>

									</ul>

								</div>

								<div class="person-dtl">

									<p>Gagan Gami is Co-Founder of RailsHouse, having 5+ years experience developing in Ruby on Rails. Gagan has also imparted Ruby on Rails training in many reputed organizations.</p>

								</div>

							</div>

						</div>

					</div>

					<!--single team end-->

					<div class="col-md-12 col-sm-12 col-lg-12 team-single-wrap">

						<div class="team-single left">

							<div class="team-image">

								<a href="#">

									<%= image_pack_tag "t3.jpg", :class =>"w-100", :alt => "Ricky Shah" %>

								</a>

							</div>

							<div class="name">

								<div class="heading">

									<h2 class="title">Ricky Shah</h2>

									<h4 class="sub_title">Chief Digital Strategist</h4>

								</div>

								<div class="team-social">

									<ul>


										<li><a href="https://www.linkedin.com/in/ricky709/"><i class="icofont-linkedin"></i></a>

										</li>

										<li><a href="https://twitter.com/webratna"><i class="icofont-twitter"></i></a>

										</li>

										<li><a href="https://www.facebook.com/ricky709"><i class="icofont-facebook"></i></a>

										</li>

									</ul>

								</div>

								<div class="person-dtl">

									<p>Ricky Shah is Chief Digital Strategist for RailsHouse. He is expert in SEO and Digital marketing enthusiast. Ricky is based out of Vadodara, India. His primary role in the company is to handle Digital Marketing promotions and lead generation for RailsHouse Clients.</p>

								</div>

							</div>

						</div>

					</div>

					<!--single team end-->

				</div>

			</div>

		</section>

		<%= render(:partial => 'layouts/sec8interestedblock') %>

	</div>

	<%= render(:partial => 'layouts/footerjsblock') %>