		<!-- Footer -->

		<footer>

			<div class="row footer1">

				<div class="container">

					<div class="row">

						<div class="col-md-3 col-sm-6 links">

							<h4>Quick links</h4>

							<ul>

								<li><%= link_to "Home", root_path %>

								</li>

								<li><%= link_to('About Us', company_index_path) %>

								</li>

								<li><%= link_to('Our Services', services_index_path) %>

								</li>

								<li><%= link_to('Portfolio', portfolio_index_path) %>

								</li>

								<li><%= link_to('Articles', articles_index_path) %>

								</li>

								<li><%= link_to('Contact Us', contact_index_path) %>

								</li>

							</ul>

						</div>

						<div class="col-md-3 col-sm-6  links ser-menu">

							<h4>Our Services</h4>

							<ul>

								<li><a href="#">Ruby on Rails Consulting</a>

								</li>

								<li><a href="#">Ruby on Rails Migration</a>

								</li>

								<li><a href="#">Ruby on Rails Upgrade</a>

								</li>

								<li><a href="#">Ruby on Rails Testing</a>

								</li>

								<li><a href="#">Ruby on Rails SEO</a>

								</li>

								<li><a href="#">Ruby on Rails Maintenance</a>

								</li>

							</ul>

						</div>

						<div class="col-md-3 col-sm-6  ser">

							<ul>

								<li><a href="#">Staff Augmentation</a>

								</li>

								<li><a href="#">Refactoring for Microservices</a>

								</li>

								<li><a href="#">Ruby on Rails Front End JS Dev</a>

								</li>

								<li><a href="#">Ruby on Rails Performance Tuning</a>

								</li>

								<li><a href="#">Ruby on Rails Training</a>

								</li>

								<li><a href="#">Ruby on Rails Advisory Services</a>

								</li>

							</ul>

						</div>

						<div class="col-md-3 col-sm-6  talk">

							<h4>Talk to us</h4>

							<ul>

								<li class="address">

									<a href="#">

										<%= image_pack_tag "location.png", alt: "Railshouse Location" %>309-383, Albert St,

										<br>Waterloo, ON, N2L 6E3, Canada</a>

								</li>

								<li class="callf">

									<a href="tel: +1 123 456 7890">

										<%= image_pack_tag "call.png", alt: "Railshouse Phone" %>+1 226 666 1140</a>

								</li>

								<li class="email">

									<a href="mailto: sales@railshouse.com">

										<%= image_pack_tag "email.png", alt: "Railshouse email" %>sales@railshouse.com</a>

								</li>

							</ul>

						</div>

					</div>

				</div>

			</div>

			<div class="row footer3">

				<div class="container">

					<div class="row">

						<div class="left col-md-4">© 2009-2019. RailsHouse. All Rights Reserved</div>

						<div class="center col-md-4 wow fadeInRight animated animated">

							<ul>

								<li class="fb"><a href="https://www.facebook.com/rubyonrails.railshouse/"><i class="icofont-facebook"></i></a>

								</li>

								<li class="tw"><a href="https://twitter.com/railshouse"><i class="icofont-twitter"></i></a>

								</li>

								<li class="ld"><a href="https://linkedin.com/company/railshouse "><i class="icofont-linkedin"></i></a>

								</li>

								<li class="yu"><a href="https://www.youtube.com/channel/UCWZetFcEo8-MminUxg16CbA"><i class="icofont-brand-youtube"></i></a>

								</li>
<!--
								<li class="ins"><a href="#"><i class="icofont-instagram"></i></a>

								</li>
-->
							</ul>

						</div>

						<div class="right col-md-4">Developed by <a href="https://www.railshouse.com/">RailsHouse, division of Cogdina Inc</a>

						</div>

					</div>

				</div>

			</div>

		</footer>

		<!-- Footer END -->