		<section class="row-am blog-home" id="blog-home">

			<div class="container">

				<div class="cl-sm-12 sol-md-12 col-lg-12">

					<div class="main-heading wow fadeInDown">

						<h1>Latest from the blog</h1>

					</div>

				</div>

				<div class="three-blog row">

					<div class="col-sm-12 col-md-4 col-lg-4 blog-single">

						<div class="blog-single-inner">

							<div class="blog-img">

								<%= image_pack_tag "blog1.png", alt: "Rails Blog" %>

							</div>

							<div class="blog-cont-wrapper">

								<div class="date">15

									<br><span class="month font-uppercase">may</span>

								</div>

								<div class="blog-name ">Lorem Ipsum is simply dummy text of the printing and typesetting.</div>

								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem psum has been the industry's standard dummy text ever since simply dummy text of the printing and typesetting industry Lor.</p>

								<div class="blog-btn">

									<a href="#">

										<%= image_pack_tag "red-right.png", alt: "Rails Red right" %>

									</a>

								</div>

							</div>

						</div>

					</div>

					<div class="col-sm-12 col-md-4 col-lg-4 blog-single">

						<div class="blog-single-inner">

							<div class="blog-img">

								<%= image_pack_tag "blog2.png", alt: "Rails blog 2" %>

							</div>

							<div class="blog-cont-wrapper">

								<div class="date">15

									<br><span class="month font-uppercase">may</span>

								</div>

								<div class="blog-name">Lorem Ipsum is simply dummy text of the printing and typesetting.</div>

								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem psum has been the industry's standard dummy text ever since simply dummy text of the printing and typesetting industry Lor.</p>

								<div class="blog-btn">

									<a href="#">

										<%= image_pack_tag "red-right.png", alt: "Rails Red Right" %>

									</a>

								</div>

							</div>

						</div>

					</div>

					<div class="col-sm-12 col-md-4 col-lg-4 blog-single">

						<div class="blog-single-inner">

							<div class="blog-img">

								<%= image_pack_tag "blog3.png", alt: "Rails Blog 3" %>

							</div>

							<div class="blog-cont-wrapper">

								<div class="date">15

									<br><span class="month font-uppercase">may</span>

								</div>

								<div class="blog-name">Lorem Ipsum is simply dummy text of the printing and typesetting.</div>

								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem psum has been the industry's standard dummy text ever since simply dummy text of the printing and typesetting industry Lor.</p>

								<div class="blog-btn">

									<a href="#">

										<%= image_pack_tag "red-right.png", alt: "Rails red right" %>

									</a>

								</div>

							</div>

						</div>

					</div>

				</div>

			</div>

			<!--container-->

		</section>