		<section class="row-am portfolio" id="portfolio">

			<div class="container">

				<div class="cl-sm-12 sol-md-12 col-lg-12">

					<div class="main-heading-port wow fadeInDown">

						<h1>Our portfolio</h1>

					</div>

				</div>

				<ul class="bxslider2">

					<li>

						<div class="portfolio-slide row">

							<div class="slider-logo col-sm-12 co-lg-7 col-md-7 portfolio-left">

								<%= image_pack_tag "port-slider.png", alt: "Ruby on Rails Portfolio" %>

							</div>

							<div class="slider-text col-sm-12 co-lg-5 col-md-5 portfolio-right">

								<div class="port-logo">

									<%= image_pack_tag "port-logo.png", alt: "Ruby on Rails Portfolio Logo" %>

								</div>

								<div class="port-dtl">

									<div class="port-name"><span class="head">Project Name </span><span class="dot">:</span>Cogdina</div>

									<div class="port-name"><span class="head">Platform</span><span class="dot">:</span>Wordpress</div>

									<div class="port-name"><span class="head">website</span><span class="dot">:</span>www.cogdina.com</div>

								</div>

								<p class="animated fadeInUp">Cogdina Inc is the entity which is doing business as Railshouse.  Our parent website is built using Wordpress CMS.</p>

								<div class="red-btn-wrp c-left"><a href="#" class="red-btn hvr-radial-in">know more</a>

								</div>

							</div>

						</div>

					</li>

					<li>

						<div class="portfolio-slide row">

							<div class="slider-logo col-sm-12 co-lg-7 col-md-7 portfolio-left">

								<%= image_pack_tag "port-slider.png", alt: "Ruby on Rails Portfolio" %>

							</div>

							<div class="slider-text col-sm-12 co-lg-5 col-md-5 portfolio-right">

								<div class="port-logo">

									<%= image_pack_tag "port-logo.png", alt: "Ruby on Rails Portfolio logo" %>

								</div>

								<div class="port-dtl">

									<div class="port-name"><span class="head">Project Name </span><span class="dot">:</span>Cogdina</div>

									<div class="port-name"><span class="head">Platform</span><span class="dot">:</span>Rails Technology</div>

									<div class="port-name"><span class="head">website</span><span class="dot">:</span>www.cogdina.com</div>

								</div>

								<p class="animated fadeInUp">Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the when an unknow.</p>

								<div class="red-btn-wrp c-left"><a href="#" class="red-btn hvr-radial-in">know more</a>

								</div>

							</div>

						</div>

					</li>

					<li>

						<div class="portfolio-slide row">

							<div class="slider-logo col-sm-12 co-lg-7 col-md-7 portfolio-left">

								<%= image_pack_tag "port-slider.png", alt: "RoR Portfolio" %>

							</div>

							<div class="slider-text col-sm-12 co-lg-5 col-md-5 portfolio-right">

								<div class="port-logo">

									<%= image_pack_tag "port-logo.png", alt: "RoR Portfolio logo" %>

								</div>

								<div class="port-dtl">

									<div class="port-name"><span class="head">Project Name </span><span class="dot">:</span>Cogdina</div>

									<div class="port-name"><span class="head">Platform</span><span class="dot">:</span>Rails Technology</div>

									<div class="port-name"><span class="head">website</span><span class="dot">:</span>www.cogdina.com</div>

								</div>

								<p class="animated fadeInUp">Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the when an unknow.</p>

								<div class="red-btn-wrp c-left"><a href="#" class="red-btn hvr-radial-in">know more</a>

								</div>

							</div>

						</div>

					</li>

				</ul>

			</div>

			<!--container-->

		</section>