		<section class="row-am service-home gray-bg" id="service-home">

			<div class="container">

				<div class="cl-sm-12 sol-md-12 col-lg-12">

					<div class="main-heading wow fadeInDown">

						<h1>Services we provide</h1>

					</div>

				</div>

				<div class="three-service row">

					<div class="col-sm-12 col-md-4 col-lg-4 service-single">

						<div class="service-single-inner">

							<div class="ser-img">

								<%= image_pack_tag "ser1.png", alt: "Ruby on Rails UI/UX Design" %>

							</div>

							<div class="ser-name font-uppercase wow fadeInDown">UI/UX DESIGN</div>

							<p>Branding, UI and UX design are vital to any digital property today. From improvement of interaction between user and your digital property to high quality look and feel and consistent branding on all devices and screen sizes, we can assist on all aspects of your UI/UX/Branding needs </p>

						</div>

					</div>

					<div class="col-sm-12 col-md-4 col-lg-4 service-single">

						<div class="service-single-inner">

							<div class="ser-img">

								<%= image_pack_tag "ser2.png", alt: "Ruby on Rails Application Development" %>

							</div>

							<div class="ser-name font-uppercase wow fadeInDown">RAILS APPLICATION DEV</div>

							<p>Rails is a web development framework and not a CMS. Every project in Rails is custom to the needs of customers. Ruby on Rails framework is very powerful and has helped power sites like Linkedin, Github, Airbnb and many more. It is a very popular Rapid Application Development framework.</p>

						</div>

					</div>

					<div class="col-sm-12 col-md-4 col-lg-4 service-single">

						<div class="service-single-inner">

							<div class="ser-img">

								<%= image_pack_tag "ser3.png", alt: "Ruby on Rails Product Development" %>

							</div>

							<div class="ser-name font-uppercase wow fadeInDown">BUILD A PRODUCT WITH US</div>

							<p>If you have an idea and want to see it in production, RailsHouse team is very capable to guide you through the process and build the product as per your requirement. We follow agile/scrum methodology with two week sprints, daily stand up calls with continuous integration and deployments.</p>

						</div>

					</div>

					<div class="col-sm-12 col-md-4 col-lg-4 service-single">

						<div class="service-single-inner">

							<div class="ser-img">

								<%= image_pack_tag "ser4.png", alt: "Hire RoR - Ruby on Rails Developer" %>

							</div>

							<div class="ser-name font-uppercase wow fadeInDown">HIRE ROR DEVELOPERS</div>

							<p>If you are looking to hire specific skillset in Ruby on Rails, React, Vue.js, Gatsby, Postgresql, Redis, RSpec, Docker, Git, Hadoop, Github, Gitlabs, HTML, Javascript, CSS, we have experienced resources available at short notice.</p>

						</div>

					</div>

					<div class="col-sm-12 col-md-4 col-lg-4 service-single">

						<div class="service-single-inner">

							<div class="ser-img">

								<%= image_pack_tag "ser5.png", alt: "RoR - Ruby on Rails Consultant" %>

							</div>

							<div class="ser-name font-uppercase wow fadeInDown">CONSULTING</div>

							<p>Many of our clients engage us, just as advisors and consultants to do code review and architecture review of their solution and code their team has written. With our deep expertise in Rails, we become trusted partners evaulating client projects. </p>

						</div>

					</div>

					<div class="col-sm-12 col-md-4 col-lg-4 service-single">

						<div class="service-single-inner">

							<div class="ser-img">

								<%= image_pack_tag "ser6.png", alt: "Ruby on Rails, React Native Mobile Application Development" %>

							</div>

							<div class="ser-name font-uppercase wow fadeInDown	">MOBILE APPLICATION DEV</div>

							<p>50% of web surfing today is using Mobile devices. It is imperative that your website is responsive. Your user engagement would improve significantly if you have Mobile App for your site. With RailsHouse, you are in good hands for App Development.</p>

						</div>

					</div>

				</div>

			</div>

			<!--container-->

		</section>