		<section class="row-am" id="clients">

			<div class="container">

				<div class="cl-sm-12 sol-md-12 col-lg-12">

					<div class="wow fadeInDown main-heading">

						<h1>Worldwide clients</h1>

					</div>

				</div>

				<ul class="bxslider d-flex">

					<li>

						<div class="client-logo align-self-center">

							<a href="#">

								<%= image_pack_tag "client-logo5.png", alt: "Rails Client Logo 5" %>

							</a>

						</div>

					</li>

					<li>

						<div class="client-logo align-self-center">

							<a href="#">

								<%= image_pack_tag "client-logo1.png", alt: "Rails Client Logo 1" %>

							</a>

						</div>

					</li>

					<li>

						<div class="client-logo align-self-center">

							<a href="#">

								<%= image_pack_tag "client-logo3.png", alt: "Rails Client Logo 3" %>

							</a>

						</div>

					</li>

					<li>

						<div class="client-logo align-self-center">

							<a href="#">

								<%= image_pack_tag "client-logo2.png", alt: "Rails Client Logo 2" %>
							</a>

						</div>

					</li>

					<li>

						<div class="client-logo align-self-center">

							<a href="#">

								<%= image_pack_tag "client-logo4.png", alt: "Rails Client Logo 4" %>

							</a>

						</div>

					</li>

				</ul>

			</div>

		</section>