<!DOCTYPE html>
<html>
  <head>
    <title>Railshouse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render(:partial => 'layouts/headmeta') %>
    
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= render(:partial => 'layouts/footerbottom') %>
  </body>
</html>
